<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/base.css">
    <link rel="stylesheet" type="text/css" href="/static/objects.css">
    <script type="text/javascript" charset="UTF-8" src="/static/form-send.js"></script>
    <title>{{ page_titlehead }}</title>
  </head>

  <body>
    <header></header>

    {% block content %}
    {% endblock %}

    <footer></footer>
  </body>
</html>
